body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.stay-focus{
    display: flex;
    margin-top: 50px;
}
.focus-container{
    width: 50%;
    height: auto;
}
.focus-left{
    margin-left: 100px;
    height: auto;
}

.focus-left a{
    text-decoration: none;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 90%);
    padding: 5px 10px;
    border-radius: 5px;
}
.side-border{
    border-left: 5px solid #3a7bd5 ;
    padding-left: 10px;
    font-size: 20px;
    
}
.side-border span{
    color: #3a7bd5;
}
.image-side{
    width: 300px;
    height: 300px;
    margin-left: 150px;
}
.image-side img{
    width: 100%;
    height: 100%;
}
.mission-heading{
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}
.mission-heading span{
    color: #3a7bd5;
}
.mission-content{
    width: 30%;
}

.content{
    width: 300px;
    height: 350px;
    background-color: red;
    margin-left: 100px;
    border-radius: 10px;
}
.img-content{
    width: 100px;
    height: 100px;
    margin-left: 15px;
}
.img-content img{
    width: 100%;
    height: 100%;
}
.desc-content{
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}
.content-color1{
    background-color: #EEF6F7;
}
.content-color2{
    background-color: #E7D9D9;
}
.content-color3{
    background-color: #E7DDC3;
}
.develop-container1{
    width: 40%;
    height: auto;
}
.develop-container2{
    width: 60%;
    height: auto;
}
.shape{
    background-image: url("../images/shape-1.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: 1040px 240px;
    height: 400px;

}
.img-develop{
    width: 300px;
    height: 300px;
    
}
.img-inside{
    width: 100%;
    height: 100%;
    margin-left: 100px;
}
.develop-mergin{
    margin-top: 200px;
}
.develop-content p{
    margin-right: 100px;
    text-align: justify;
}
.develop-content a{
    text-decoration: none;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 90%);
    padding: 5px 10px;
    border-radius: 5px;
}
.stay-focus1{
    display: flex;
    flex-direction: row-reverse;
}
.global-container1{
    width: 40%;
    height: auto;
}
.global-container2{
    width: 60%;
    height: auto;
    margin-left: 100px;
    
}
.shape{
    
}
.img-global{
    width: 300px;
    height: 300px;
    background-image: url("../images/shape-1.png");
    background-repeat: no-repeat;
    background-size: 180px 180px;
    background-position: 13px 55px;

}
.img-inside1{
    width: 100%;
    height: 100%;
    
}
.develop-mergin{
    margin-top: 200px;
}
.global-content p{
    margin-right: 100px;
    text-align: justify;
}
.global-content a{
    text-decoration: none;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 90%);
    padding: 5px 10px;
    border-radius: 5px;
}